body {
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    color: rgb(14, 37, 143);
}

h2 {
    color: rgb(255, 220, 25);
}

a {
    text-decoration: none;
    color: rgb(14, 37, 143);
}

a:hover {
    color: rgb(255, 220, 25);
}